<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166599843065-m229vokm444p86pp3tk9am9me730cohc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166599843065-m229vokm444p86pp3tk9am9me730cohc</string>
	<key>API_KEY</key>
	<string>AIzaSyC_silaXEwMZP4aCsIk9K-lcKOV4JqZikQ</string>
	<key>GCM_SENDER_ID</key>
	<string>166599843065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedexMobile</string>
	<key>PROJECT_ID</key>
	<string>pokeproyect-51544</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeproyect-51544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166599843065:ios:9f8478793ede2403a21628</string>
</dict>
</plist>